.wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}

.link{
    font-family: 'ChanticleerRomanNF-bold';
    font-size: 18px;
    text-decoration: none;
    color: #ece9f8;
}

.link:hover{
    color: black;
}