.title{
    display: flex;
    justify-content: center;
    // font-family: 'ChanticleerRomanNF-bold';
    font-family: 'BoyzRGrossShadowNF';
    color: #080808;
    font-size: 46px;
    margin-bottom: 60px;
}

.notify{
    display: flex;
    justify-content: center;
    color: red;
}