
.group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.label {
    flex: 0 0 150px;
    text-align: left;
    color: #606266;
}

.input {
    border: 1px solid #c0c4cc;
    padding: 11px;
    color: #606266;
    border-radius: 3px;
}

.btn {
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
    color: rgb(128, 0, 100);
    background-color: #fff;
    border: 1px solid rgb(128, 0, 100);
    border-radius: 5px;
    margin-top: 10px;
    /* margin-left: 300px; */
}

.btn:hover{
    color: #fff;
    background-color:rgb(128, 0, 100);
     transition: all 500ms;
}