.link{
    margin-top: 60px;
    color: #fff;
    font-weight: bold;
    font-size: 28px;
    font-style: italic;
    color: aqua;
}

.click{
    color: rebeccapurple;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    font-family: 'BoyzRGrossShadowNF';
    font-size: 36px;
    color: #080808;
    margin: 10px;
}

.wrapper{
    font-weight: bold;
    font-size: 28px;
}

.auth{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 36px;
}

.text{
    font-family: 'BoyzRGrossShadowNF';
    font-size: 36px;
    color: black;
    text-decoration: none;
}
.text:hover{
    font-family: 'BoyzRGrossShadowNF';
    font-size: 36px;
    color: #fff;
}

.fontLink{
    font-family: 'BoyzRGrossShadowNF';
    font-size: 36px;
    margin-left: 25px;
    color: black;
}
.fontLink:hover{
    font-family: 'BoyzRGrossShadowNF';
    font-size: 36px;
    color: #fff;
}
.fontFace{
    font-family: 'BoyzRGrossShadowNF';
    font-size: 36px;
    color: black;
}
.fontFaceText{
    font-family: 'ChanticleerRomanNF-bold';
    font-size: 36px;
}
