.container {
    flex: 0 0 56%;
    border: 1px solid #dcdfe6;
    border-radius: 5px;
    padding: 10px;
    margin-right: 30px;
}

.title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}